#todo-error{
  color: red;
  font-size: 2em;
}

body{
  min-height: 100vh;
  background-size: cover;
  background-position: center;
    color: white;
  text-shadow: 1px 1px 3px black;
}

.btn{
    background-color: transparent;
    border-color: #ccc;
    color: white;
    text-shadow: 1px 1px 3px black;
}

#filler-col{
  min-height: 85vh;
}

#todo{
  position: absolute;
  bottom: 6vh;
  right: 2vw;
}

#add-task:hover{
  cursor: pointer;
  transition: background-color .1s ease;
  background-color: gray !important;
}

#add-task-btn{
  background-color: green;
}

